/* Общие стили для кнопок */
.btn {
    background-color: var(--primary-color);  /* Фиолетовый фон по умолчанию */
    color: var(--text-color);
    border: 2px solid var(--primary-color);
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 5px;
    transition: background 0.3s, transform 0.3s;  /* Плавный переход */
}

/* Эффект при наведении на обычные кнопки */
.btn:hover {
    background-color: var(--hover-color);  /* Более темный фиолетовый */
    transform: scale(1.05);  /* Эффект увеличения */
}

/* Кнопка "Buy Now" */
.btn.buy-now {
    background-color: transparent;  /* Без фона по умолчанию */
    color: var(--text-color);
    border: 2px solid var(--primary-color);
}

/* Эффект при наведении на кнопку "Buy Now" */
.btn.buy-now:hover {
    background-color: var(--primary-color);  /* Фиолетовый фон при наведении */
    color: white;  /* Цвет текста меняется на белый */
    transform: scale(1.05);  /* Эффект увеличения */
}

/* Социальные кнопки */
.social-container {
    display: flex;
    align-items: center;
    gap: 20px;  /* Добавляем расстояние между кнопками */
}

.social-container nav a {
    color: black;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    transition: background 0.3s, transform 0.3s;
    border-radius: 8px;
    text-decoration: none;
}

/* Эффект при наведении на социальные кнопки */
.social-container nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);  /* Легкое затемнение фона */
    transform: scale(1.05);  /* Эффект увеличения */
}

/* Мобильные стили для кнопок */
@media (max-width: 767px) {
    .btn {
        padding: 12px 25px;  /* Меньше отступы на мобильных */
        font-size: 18px;  /* Уменьшаем размер шрифта */
    }

    .social-container nav a {
        font-size: 25px;  /* Меньше размер шрифта на мобильных */
    }
}
